<ion-grid>
  <ion-row>
    <ion-col col-12>
      {{ display }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3><button ion-button block color="light">C</button></ion-col>
    <ion-col col-3><button ion-button block color="light"></button></ion-col>
    <ion-col col-3><button ion-button block color="light"></button></ion-col>
    <ion-col col-3><button ion-button block color="light">/</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3><button ion-button block color="light">1</button></ion-col>
    <ion-col col-3><button ion-button block color="light">2</button></ion-col>
    <ion-col col-3><button ion-button block color="light">3</button></ion-col>
    <ion-col col-3><button ion-button block color="light">x</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3><button ion-button block color="light">4</button></ion-col>
    <ion-col col-3><button ion-button block color="light">5</button></ion-col>
    <ion-col col-3><button ion-button block color="light">6</button></ion-col>
    <ion-col col-3><button ion-button block color="light">+</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3><button ion-button block color="light">7</button></ion-col>
    <ion-col col-3><button ion-button block color="light">8</button></ion-col>
    <ion-col col-3><button ion-button block color="light">9</button></ion-col>
    <ion-col col-3><button ion-button block color="light">-</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3><button ion-button block color="light">.</button></ion-col>
    <ion-col col-3><button ion-button block color="light">0</button></ion-col>
    <ion-col col-3><button ion-button block color="light">=</button></ion-col>
    <ion-col col-3><button ion-button block color="light">/</button></ion-col>
  </ion-row>
</ion-grid>
