<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <app-calculator></app-calculator> -->
  <!-- <ion-list>
    <ion-item *ngFor="let $hero of heroes">
      <h3>{{ $hero.name }}</h3>
      <p>{{ $hero.quirk}}</p>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-item *ngFor="let $beer of beers"
      (click)="navToDetail($beer)">
      <h3>{{ $beer.name }}</h3>
      <p>{{ $beer.tagline}}</p>
    </ion-item>
  </ion-list>
  <button ion-button
    (click)="navToPage()">Navigate</button>
</ion-content>
